{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1 class="text-center mt-5 mb-4 fw-bold fs-2">All Users</h1>
    <table class="table table-hover">
      <thead class="table-info">
        <tr>
          <th scope="col">pk</th>
          <th scope="col">Username</th>
          <th scope="col">Emial</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.pk }}</th>
            <td>
              <a href="{% url 'accounts:detail' user.pk %}">
                {{ user.username }}
              </a>
            </td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}" role="button">Sign Out</a>
  </div>
{% endblock content %}