{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>221014 Pjt</title>
    {% bootstrap_css %}
    {% block css %}{% endblock %}
    <style>
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .btn-success:hover {
        background-color: white;
        border-color: $success;
        color: #198754;
      }
    </style>
  </head>

  <body class="bg-light">
    <div class="navbar bg-dark justify-content-center">
      <h1 class="my-5 fw-bold text-white">🎬 Welcome to MovieUs 🍿</h1>
    </div>      
    <div class="container-fluid text-center">
      <div class="row m-5 justify-content-center">
        <div class="col-sm-5 mt-4">
          <div class="card mx-5 position-relative" style="height:25rem;">
            <div class="card-body">
              <h4 class="card-title fw-bold my-5">Are you new here?</h3>
              {% comment %} <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> {% endcomment %}
              <a class="btn btn-success me-3 col-7 rounded-pill position-absolute top-50 start-50 translate-middle" href="{% url 'accounts:signup' %}" role="button">JOIN NOW</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 mt-4">
          <div class="card mx-5 position-relative" style="height:25rem;">
            <div class="card-body">
              <h4 class="card-title fw-bold my-5">Hello again!</h3>
              <a class="btn btn-outline-primary col-7 rounded-pill position-absolute top-50 start-50 translate-middle" href="{% url 'accounts:login' %}" role="button">Sign In</a>
            </div>
          </div>
        </div>
      </div>

      </div>

    <footer class="text-center my-5 text-muted">
      Copyright 2022. 임선주
    </footer>

    {% bootstrap_javascript %}
  </body>

</html>